@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,400italic);

body {
	margin: 0;
	overflow-x: hidden;
	background-color: #EEEEEE;
}

#sliding-container {
	width: 200%;
}

#sliding-container.slide 
{
  	transform: translateX(-50%);
}

#on-screen {
	width: 50%;
	float: left;
}

#off-screen {
	width: 50%;
	float: right;
}

.slide-back {
	cursor: pointer;
}

.menu-icon {
	background-color: rgba(0, 0, 0, 0.1);
	height: 40px;
	width: 40px;
	display: block;
	border-radius: 50%;
	text-align: center;
	color: white;
	margin: 10px 20px 0 40px;
	cursor: pointer;
}

.menu-icon:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.menu-icon i {
	line-height: 40px;
	font-size: large;
}

.container, .page-search {
	width: 900px;
	margin: auto;
}

.menubar {
	width: 100%;
	height: 60px;
	background-color: #4285F1;
}

.title {
	color: white;
	line-height: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.search {
	margin: auto;
}

.profile a {
	display: block;
	width: 40px;
	height: 40px;
}

.profile-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
	margin-right: 40px;
}

.section-header i.fa.fa-chevron-right {
	font-size: 10px;
	padding: 0 10px;
}

.section-header i.fa.fa-plus {
	float: right;
	font-size: 16px;
	cursor: pointer;
}

.section-header i.fa.fa-plus:active {
	color: #4D4D4D;
}

.section-header {
	color: #808080;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-top: 30px;
	margin-bottom: 10px;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.item {
	display: block;
	width: 860px;
	height: auto;
	border: 1px solid #CCCCCC;
	border-bottom:none;
	background-color: #FFFFFF;
	padding: 10px 20px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

.item-header, .menubar {
	display: -webkit-flex;
 	display: flex;
 	flex-direction: row;
 	-webkit-flex-direction: row;
}

.section-content .item:last-child {
	border-bottom: 1px solid #CCCCCC;
}

.item-title {
	color: #4D4D4D;
}
