.sidebar-items a:hover {
	background-color: #4F2683;
	color: white;
}

body {
	background-image: url("../artwork/bigshield.gif");
	background-position-x: 90%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}