body {
	background-image: url("../artwork/bigshield.gif");
	background-position-x: 90%;
  	background-repeat: no-repeat;
  	background-attachment: fixed
}

.menu-bar:hover {
	max-height: 600px;
	transition: max-height 0.2s ease-in;
	cursor: pointer
}

.navigation a:hover {
	color: #4F2683;
	font-weight: 200;
}

@media (min-width: 0px) {
	.menu-bar:hover .arrow {
		-moz-transform:rotate(90deg);
	    -webkit-transform:rotate(90deg);
	    -o-transform:rotate(90deg);
	    transform:rotate(90deg)
		transition: all 0.2s linear;
	}
}