#sliding-container.slide {
	-webkit-transform: translateX(-100%); 
   	   -moz-transform: translateX(-100%);
    	-ms-transform: translateX(-100%); 
       	 -o-transform: translateX(-100%); 
        	transform: translateX(-100%); 
}

#content-container {
	width: 200%;
}

#question-arrays, #questions-array {
	width: 50%;
}

#question-arrays {
	float: left;
}

#questions-array {
	float: right;
}

.item-title {
	width: 760px;
}

#questions-array .item-title {
	width: 350px;
}

.item-type, .item-value {
	width: 180px;
}

.item-type, .item-value, .item-edit, .item-remove, .item-preview {
	color: #808080;
}

.item-edit, .item-remove, .item-preview {
	cursor: pointer;
	
	width: 50px;
	
	text-align: right;
}

.item-preview {
  	font-size: 16px;
}

.item-edit:active, .item-remove:active, .item-preview:active {
	color: #4D4D4D;
}

.slide-back {
	cursor: pointer;
}